<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Do you like it?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>I like MMQ</ion-label>
          <ion-radio value="trueMmq" slot="start"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>I don't like MMQ, YET</ion-label>
          <ion-radio value="falseMmq" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-input type="date" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block">Register</ion-button>
</ion-content>
